
doctype html
html
  head
    title='Invoice PDF template' 
    link(rel='stylesheet',type='text/css',href='template.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Cormorant+SC") 
  body
    div
      div.page
        div.top
          div.companyName
            p= invoice.companyName
          div.companyDetails
            p.companyAddress= invoice.companyAddressL1+ " "+invoice.companyAddressL2
            p.companyAddress= invoice.companyCity+" "+invoice.companyZip
            p.companyAddress= invoice.companyCountry+", "+invoice.companyProvince
            p.companyAddress(style='margin-top:10px')= invoice.companyPhone
            p.companyAddress= "Fax: "+invoice.companyFax
            p.companyAddress(style='margin-bottom:20px')=invoice.companyWebsite+" "+invoice.companyEmail
          div.invoiceheader
            p.title= invoice.invoiceTitle+" #"+invoice.invoiceNumber
            p= invoice.invoiceSummary
        div.line
        div.invoiceDetail
          div.invoiceDate
            p Invoice Date
            p= 0+invoice.invoiceDate.getDate()+"."+invoice.invoiceDate.getMonth()+1+"."+invoice.invoiceDate.getFullYear()
          div.invoiceTotal
            p Total
            p= (invoice.currencySymbol==null?"":invoice.currencySymbol)+" "+Math.round((invoice.invoiceTotal + 0.00001) * 100) / 100+" "+(invoice.currencyCode==null? "":invoice.currencyCode)
          div.paymentDate
            p Payment Due
            p= invoice.paymentDue.getDate()+"."+invoice.invoiceDate.getMonth()+1+"."+invoice.invoiceDate.getFullYear()
        div.customer
          p.companyAddress(style="margin-bottom:5px")= "To: "+invoice.customerName
          p.companyAddress= invoice.customerContactFirstName+" "+invoice.customerContactLastName
          p.companyAddress(style="margin-bottom:5px")= "Account: "+invoice.customerAccountNumber
          p.companyAddress= invoice.customerAddressL1+" "+invoice.customerAddressL2
          p.companyAddress= invoice.customerCity+" "+invoice.customerProvince+" "+invoice.customerCountry
          p.companyAddress= invoice.customerPhone+", fax: "+invoice.customerFax
          p.companyAddress= invoice.customerWebsite
          p.companyAddress= invoice.customerEmail
        div.itemsHeader
          div.header(style='width:20%')= invoice.itemsName
          div.header(style='width:40%')= invoice.itemsDescriptionName
          div.header(style='width:12%')= invoice.quantityName
          div.header(style='width:12%')= invoice.unitPriceName
          div.header(style='width:15%')= invoice.totalName+" " 
        div.items 
          each val in invoice.items.length ? invoice.items : ['There are no values']
            div.item
              div.itemsubvalue(style='width:20%')= val.name
              div.itemsubvalue(style='width:40%')= val.description
              div.itemsubvalue(style='width:12%')= val.quantity
              div.itemsubvalue(style='width:12%')= val.price
              div.itemsubvalue(style='width:15%')= val.quantity*val.price













