
doctype html
html
  head
    title='Invoice PDF template' 
    link(rel='stylesheet',type='text/css',href='template.css')
  body
    div(class='invoiceTitle')
      h1(class='invoiceTitle')= invoice.invoiceTitle 
      p= invoice.invoiceSummary
      p= invoice.invoiceNumber
      p= invoice.invoiceDate
      p= invoice.paymentDue
